* {
    box-sizing: border-box;

}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}


@media (max-width: 700px) {

    nav {
        width: 100%;
        /* background-color: white; */
        z-index: 1;
        /* background-color: red; */
        background-color: hsl(0, 0%, 100%);
        /* background-color: rosybrown; */
        padding: 6%;
        position: fixed;
        top: 0;
    }

    nav a.icon {
        /* background-color: yellow; */
        position: absolute;
        /* top: 100%; */
        display: block;
        width: 10%;
    }

    #light-galery{
        display: none;
    }

    #mylink a {
        display: block;
        color: #282828;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 10%;
        padding: 4% 0;
    }

    #logo {
        margin-top: -4%;
        margin-left: 7%;
    }

    #mylink {
        width: 60%;
        height: 100vh;
        display: none;
        font-weight: 700;
        z-index: 2;
        align-self: center;
        position: fixed;
        left: 0%;
        top: 0%;
        color: hsl(0, 21%, 41%);
        background-color: hsl(0, 0%, 100%);
    }




    #close {
        cursor: pointer;
        margin: 10%;
        padding-top: 2%;
    }

    /* ............................ */

    /* #my-cart a {
        display: block;
        color: #282828;
        font-family: 'Public Sans', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        padding: 20px 0;
        background-color: rebeccapurple;
    } */

    #my-cart {
        width: 90vw;
        height: 40vh;
        display: none;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        border-radius: 10px;
        position: absolute;
        right: -20%;
        top: 80px;
        background-color: hsl(0, 0%, 100%);
    }

    #my-cart ul {

        width: 90vw;
        border-radius: 10px 10px 0 0px;
        padding: 6% 0 6% 6%;
        border: solid;
        border-width: 0 0 2px 0;
        font-weight: 700;
        border-color: hsl(220, 14%, 75%);
    }

    #my-cart p {
        position: absolute;
        top: 60%;
        left: 35%;
        margin-left: auto;
        margin-right: auto;
        /* background-color: orange; */
    }

    #empty-cart p {
        font-weight: 700;
        color: hsl(219, 9%, 45%);
        /* display: none; */
    }

    #product-added {
        display: none;
        width: 90%;
        margin: 5% auto 0 auto;
        /* display: flex; */
        justify-content: space-between;

        /* background-color: blue; */
    }

    #product-added img {
        /* padding: 20px 0 0 0; */
        width: 15%;
        border-radius: 10px;
        /* background-color: red; */
    }

    #name-value {
        margin: 1%;
    }

    #name-value span {
        width: 90%;
        border-radius: 0;
        padding: 0%;
        width: 100%;
        color: hsl(219, 9%, 45%);
    }

    #name-value ul {
        margin-top: 10px;
        width: 90%;
        font-weight: 300;
        border-radius: 0;
        border: none;
        padding: 0%;
        color: hsl(219, 9%, 45%);
        width: 100%;
        /* background-color: sienna; */
    }

    #product-added #delete {
        padding-top: 2%;
        border-radius: 0;
        /* background-color: slategray; */
        width: 8%;
    }

    #product-added #delete img {
        cursor: pointer;
        width: 60%;
    }

    #checkout {
        font-size: 1.2rem;
        display: none;
        width: 90%;
        background-color: hsl(26, 100%, 55%);
        margin: 5% auto 0 auto;
        text-align: center;
        padding: 6% 0 6% 0;
        font-weight: 700;
        border-radius: 10px;
        color: hsl(25, 100%, 94%);
        cursor: pointer;
    }

    /* ''''''''''''''''''''''' */
    #cartAndAvater {
        position: fixed;
        width: 20vw;
        top: 3%;
        right: 9%;
        display: flex;
        /* background-color: greenyellow; */
    }

    #cart {
        width: 30%;
        cursor: pointer;
        /* background-color: blue; */
        margin-right: 30%;
    }

    #avatar {
        cursor: pointer;
        width: 30%;
        margin-right: 0%;

    }

    .hero {
        width: 100%;
    }

    #hero-image {

        width: 100vw;
   
        margin-top: 7%;
      
        z-index: -2;
    }

    #hero-mobile-image{
        width: 100%;
    }
    #hero-mobile-image img{
        width: 100%;
    }

    #arrow {
        width: 90%;
        display: flex;
        position: absolute;
        left: 5%;
        top: 230px;
        /* margin-top: -140px; */
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        /* background-color: royalblue; */
    }

    #previous,
    #next {
        background-color: hsl(0, 0%, 100%);
        width: 10%;
        height: 7vh;
        padding: 3%;
        border-radius: 100%;

    }

    #previous,
    #next:hover {
        cursor: pointer;
    }

    .hero-image img {
        width: 20%;
        display: block;

    }

    section {
        width: 80%;
        /* position: absolute; */
        /* top: 100px; */

        text-align: start;
        font-weight: 300;
        margin: 10px auto 70px 8%;
        line-height: 3rem;
        color: #333333;
        z-index: -1;
    }

    section header h3 {
        width: 100%;
        font-size: 1rem;
        /* background-color: cyan; */
        font-weight: 700;
        color: hsl(26, 100%, 55%);
    }

    section header h1 {
        font-size: 2rem;
        /* background-color: cyan; */
        font-weight: 700;
        line-height: 2.3rem;
        width: 100%;

        /* color:hsl(26, 100%, 55%); */
    }

    section p {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 1rem;
        line-height: 1.5rem;
        /* background-color: cyan; */
        /* font-weight: 300; */
        color: hsl(219, 9%, 45%);
    }



    #cartButton {
        width: 100%;
        display: flex;

        justify-content: space-between;
        background-color: hsl(26, 100%, 55%);
        color: hsl(25, 100%, 94%);
        border-radius: 15px;
        cursor: pointer;
        margin: 7% auto 30% auto;



    }

    #cartButton ul {
        font-weight: 700;
        padding: 5% 0 5% 0;
        font-size: 1.2rem;
        margin-right: 28%;
        /* background-color: rebeccapurple; */
        /* width: 10%; */
    }

    #cart-svg {
        margin-top: 5%;
        margin-left: 26%;
    }


    #counting-number {
        display: none;
        cursor: pointer;
        width: 6%;
        position: fixed;
        /* font-size: 0.; */
        /* top: 0%; */
        margin-top: -2%;
        margin-left: 2%;
        border-radius: 40%;

        background-color: hsl(26, 100%, 55%);
    }

    #counting-number ul {
        padding: 4px 5px 4px 5px;
        font-size: 0.7rem;
        font-weight: 700;

        color: hsl(25, 100%, 94%);
        text-align: center;

    }

    .quantityCarts {
        margin-top: 5%;
        width: 100%;
        border-radius: 10px;
        background-color: hsl(223, 64%, 98%);
        display: flex;
        justify-content: space-between;


    }

    #showingNumber {
        padding-top: 6%;
        /* background-color: tomato; */
        font-size: 1.7rem;
        font-weight: 700;
    }

    #minus,
    #plus {
        /* background-color: mediumaquamarine; */
        padding: 5%;
        width: auto;
        cursor: pointer;
    }

    .prizingAndDiscount {
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
    }

    #prizing {
        font-weight: 700;
        font-size: 1.5rem;
        width: 50%;
        /* background-color: cyan; */
        display: flex;
        justify-content: space-between;
    }

    #fifty {
        border-radius: 10px;
        color: hsl(26, 100%, 55%);
        /* background-color: green; */
        background-color: hsl(25, 100%, 94%);
    }

    #discount {
        font-size: 1rem;
        font-weight: 700;

        position: relative;

        color: hsl(220, 14%, 75%);

    }

    #discount:after {
        content: "";
        position: absolute;
        background-color: hsl(220, 14%, 75%);
        /* background-image: hsl(220, 14%, 75%); */
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 50%;
    }

    #thumbnail-and-image,
    #lg-thumbnail {
        display: none;
    }

}


/* desktp view---------------------------- */


@media (min-width: 701px) {

    nav {
        width: 100%;
        display: flex;
        padding: 2% 5% 1% 0;
        justify-content: space-around;
        /* background-color: royalblue; */
        position: fixed;
        border-bottom:1px solid;
        border-color: hsl(220, 14%, 75%);
        /* border-bottom-width: 10%; */
        z-index: 1;
        background-color: hsl(0, 0%, 100%);
        /* border-style: solid; */

        /* border-bottom: sandybrown; */
    }

    #logo {
        margin-left: -26%;
    }

    #close {
        display: none;
    }

    .close {
        display: none;
    }

    nav #mylink {
        /* background-color: rosybrown; */
        /* border: solid;
         */
         
        /* box-sizing: ; */
        margin-left: -24%;
        align-self: center;
        padding: 4px 0 1% 0;
        display: flex;
        font-size: 0.6rem;
        margin-top: -1%;
        width: 30%;
        justify-content: space-between;

    }

    #mylink a {
        position: relative;
        font-size: 1.1rem;

    }

    #mylink a:hover {
        font-weight: 600;

    }

    #mylink a:after {
        content: "";
        position: absolute;
        background-color: hsl(26, 100%, 55%);
        height: 5px;
        width: 0%;
        left: 0;
        font-weight: 500;
        bottom: -42px;
    }

    nav #mylink a:hover:after {
        width: 100%;
    }

    nav a {
        /* background-color: hsl(0, 0%, 100%); */
        text-decoration: none;
        font-size: 0.8rem;
        color: hsl(233, 8%, 62%)
    }

    #my-cart {
        display: none;
    }

    #cartAndAvater {
        /* background-color: tomato; */
        display: flex;
        margin-right: -8%;
        justify-content: space-between;
    }

    #cart {
        cursor: pointer;
        margin-top: 5%;
    }

    #avatar {

        width: 40%;

    }

    #avatar:hover {
        border-radius: 50%;

        border-width: thin;
        border: solid;

        border-color: hsl(26, 100%, 55%);

    }




    #counting-number {
        display: none;
        cursor: pointer;
        width: 25%;
        height: 3vh;
        border-radius: 60px;
        background-color: hsl(26, 100%, 55%);
        text-align: center;
        margin-left: -25%;
        /* padding: 0; */
    }

    #counting-number ul {
        font-size: 0.9rem;
        font-weight: 700;
        color: white;

    }

    /* image part */
    #thumbnail-and-image {
        /* background-color: teal; */
        width: 100%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;


    }

    #desktop-image {
        /* background-color: chocolate; */
        margin-top: 10%;
        /* margin-right: 20px; */
        width: 67%;
        align-self: flex-end;
        border-radius: 20px;
    }

    #desktop-image img {
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
    }

    #thumbnail {
        /* background-color: chartreuse; */
        width: 67%;
        align-self: flex-end;
        display: flex;

        justify-content: space-between;


    }

    /* thumbnail-and-image */
    #thumbnail img {
        width: 22%;
        margin-top: 7%;
        border-radius: 10px;
        border: 5px solid rgba(0, 0, 0, 0);


    }

    #lg-thumbnail {
        width: 23%;
        display: flex;
        margin: 2% auto 10% auto;
      
        justify-content: space-between;
    }

    #lg-thumbnail img {
        height: 10vh;
        /* margin-bottom: 10px; */

        border-radius: 10px;
        display: block;
    }

    #thumbnail img:hover,
    #lg-thumbnail img:hover {
        /* width: 40%; */
        filter: brightness(150%);
        /* margin-top: 100px; */

    }

    #light-galery {
        display: none;
        width: 100%;

        position: fixed;

        -moz-border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);


    }

    #light-galery-image {
        margin-left: auto;
        margin-right: auto;
        width: 23%;
        /* z-index: 2; */


    }

    #light-galery-image img {
        width: 100%;
        border-radius: 3%;

    }

    #lg-close {
        z-index: 2;
        align-self: center;
        margin-top: 7%;
        margin-bottom: 3%;
        margin-left: 60.3%;
        /* margin-right: auto; */
        width: 2%;
        cursor: pointer;
        /* background-color: green; */
    }

    #lg-arrow {
        width: 25%;
        /* background-color: indigo; */
        display: flex;
        position: absolute;
        top: 45%;
        left: 37.5%;
        justify-content: space-between;



    }

    #lg-previous,
    #lg-next {
        height: 34px;
        background-color: hsl(0, 0%, 100%);
        width: 10%;
        border-radius: 100%;

    }

    #lg-previous,
    #lg-next:hover {
        /* color: tomato; */
        /* fill: orange; */
        cursor: pointer;
    }


    #hero-image {
        display: none;
    }

    main {
        margin-bottom: 8%;
        display: flex;
        /* margin-top: 2%; */
        /* background-color: red; */
        /* flex-direction: column; */
    }

    /* .................................. */

    /* cart */

    #my-cart {
        width: 27vw;
        height: 40vh;
        display: none;
        /* margin-left: px; */
        /* margin-right: 60%; */
        align-self: center;
        border-radius: 10px;
        position: absolute;
        /* right: 40px; */
        top: 85px;
        right: 2%;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

    }

    #my-cart ul {

        width: 100%;
        border-radius: 10px 10px 0 0px;
        padding: 6% 0 6% 6%;
        border: solid;
        /* bor */
        border-width: 0 0 2px 0;
        font-weight: 700;
        border-color: hsl(220, 14%, 75%);
    }

    #my-cart p {
        position: absolute;
        top: 60%;
        left: 33%;

    }

    #empty-cart p {
        font-weight: 700;
        color: hsl(219, 9%, 45%);
    }

    #product-added {
        display: none;
        width: 90%;
        margin: 6% auto 0 auto;
        /* display: flex; */
        justify-content: space-between;

        /* background-color: blue; */
    }

    #product-added img {
        /* padding: 20px 0 0 0; */
        width: 15%;
        border-radius: 5px;
    }

    #name-value {
        margin: 5px;
    }

    #name-value span {
        width: 90vw;
        /* margin-top: 10px; */
        border-radius: 0;
        /* padding: 30px 10px 30px 20px; */
        padding: 0%;
        width: 100%;
        color: hsl(219, 9%, 45%);
        /* height: auto; */
        /* background-color: green; */
    }

    #name-value ul {
        margin-top: 3%;
        width: 90vw;
        font-weight: 300;
        border-radius: 0;
        border: none;
        /* padding: 30px 10px 30px 20px; */
        padding: 0%;
        color: hsl(219, 9%, 45%);
        width: 100%;
        /* height: auto; */
        /* background-color: sienna; */
    }

    #product-added #delete {
        /* background-color: orange; */
        padding-top: 4%;
        border-radius: 0;
        width: 8%;
    }

    #product-added #delete img {
        cursor: pointer;
        width: 60%;
    }

    #checkout {
        display: none;
        width: 90%;
        background-color: hsl(26, 100%, 55%);
        margin: 6% auto 0 auto;
        text-align: center;
        padding: 5% 0 5% 0;
        font-weight: 700;
        border-radius: 10px;
        color: hsl(25, 100%, 94%);
        cursor: pointer;
        /* box-shadow: black; */
        /* font-size: 50px; */
    }



    /* xxxxxxxxxxxxxxxxxxxxxxxx */
    /* section  */

    section {
        /* background-color: yellow; */
        /* font-size: 2.5rem; */
        text-align: start;
        font-weight: 300;
        width: 50%;
        margin: 18% 15% 5% 7%;

        line-height: 3rem;
        color: #333333;
    }

    section header h3 {
        font-size: 1rem;
        letter-spacing: 2px;
        /* background-color: cyan; */
        font-weight: 700;
        color: hsl(26, 100%, 55%);
    }

    section header h1 {
        font-size: 2rem;
        /* background-color: cyan; */
        font-weight: 700;
        line-height: 2.3rem;
        /* color:hsl(26, 100%, 55%); */
    }

    section p {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 1rem;
        line-height: 1.5rem;
        /* background-color: cyan; */
        /* font-weight: 300; */
        color: hsl(219, 9%, 45%);
    }



    #cartButton {
        width: 60%;
        display: flex;

        justify-content: space-between;
        background-color: hsl(26, 100%, 55%);
        color: hsl(25, 100%, 94%);
        border-radius: 15px;
        cursor: pointer;
        /* height: 10%; */
        margin: 2% auto 10% auto;



    }

    .wrapper {
        display: flex;
    }


    #cartButton ul {
        font-weight: 700;
        padding: 2% 0 0 0;
        font-size: 1rem;
        margin-right: 22%;
        /* width: 10%; */
    }

    #cart-svg {
        margin-left: 27%;
        margin-top: 3%;
        /* padding: 20px 0 20px 0; */
    }






    .quantityCarts {
        margin-top: 3%;
        margin-right: 2%;
        height: 10%;
        width: 40%;
        border-radius: 10px;
        background-color: hsl(223, 64%, 98%);
        /* background-color: blue; */
        display: flex;
        justify-content: space-between;


    }

    #showingNumber {
        /* background-color: tomato; */
        font-size: 1.1rem;
        margin-left: -15%;
        margin-right: 16%;
        font-weight: 700;
    }

    #minus,
    #plus {
        /* background-color: mediumaquamarine; */
        /* padding: 20px 20px 270px 20px; */
        width: 40%;
        margin-left: 12%;
        margin-right: 46%;
        /* height: 50px; */
        cursor: pointer;
    }




    .prizingAndDiscount {
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #prizing {
        font-weight: 700;
        font-size: 1.5rem;
        width: 43%;
        /* background-color: cyan; */
        display: flex;
        justify-content: space-between;
    }

    #fifty {
        z-index: -1;
        width: 3%;
        text-align: center;
        font-size: 0.9rem;
        border-radius: 5px;
        position: absolute;
        top: 82%;
        left: 61%;
        height: 27px;
        color: hsl(26, 100%, 55%);
        /* background-color: green; */
        background-color: hsl(25, 100%, 94%);
    }

    #fifty ul {
        position: absolute;
        top: -40%;
        left: 10%;
        padding-bottom: 0%;
    }

    #discount {
        z-index: -1;
        font-size: 1rem;
        font-weight: 700;

        position: relative;

        color: hsl(220, 14%, 75%);

    }

    #discount:after {
        content: "";
        position: absolute;
        background-color: hsl(220, 14%, 75%);
        /* background-image: hsl(220, 14%, 75%); */
        height: 1px;
        width: 14%;
        left: 0;
        bottom: 50%;


    }
}


/* xxxxxxxxxxxxxxxxx */